@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: 0.4 ease;
  font-family: "Poppins", sans-serif;
}

html{
  font-size: 65.5%;
}

:root {
  --1: #D51818;
  --2: #30526B;
  --3: #FFFFFF;
  --4: #808080;
}

header{
  width: 100%;
  background-color: #30526B;
  padding: 0 12.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar .navLinks{
  display: flex;
  align-items: center;
}

header .navbar .navLinks li{
  padding: 1.7rem 2rem;
  cursor: pointer;
}

header .navbar .navLinks li:hover{
  background-color: var(--1);
}

header .navbar .navLinks li a{
  color: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
}

header .search i{
  color: #ffffff;
  font-size: 1.9rem;
  cursor: pointer;
}

#menuBtn {
  display: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 3rem;
}

header .logo img{
  max-width: 100%;
  width: 60%;
  min-width: 300px;
  padding: 10px;
}

section{
  padding: 2.5rem 12.5%;
}


.hero{
  width: 100%;
  height: 70vh;
  background-image: url('/images/Empresas-de-engenharia-industrial.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero .swiper .slide{
  background-color: #30536b93;
  padding: 20px;
  border-radius: 10px;
  display: block;
  width: 50%;
  max-width: 100%;
}


.hero .swiper .slide h1{
  font-size: 3.7rem;
  padding-bottom: 2.7rem;
  color: black;
}

.hero .swiper .slide h1 span{
  color: var(--3);
  font-weight: 800;
}

.hero .swiper .slide p{
  width: 600px;
  font-size: 1.3rem;
  color: black;
  padding-bottom: 2.7rem;
  font-weight: 600;
}

.hero .swiper .slide button {
  background-color: var(--1);
  padding: 1.2rem 3.5rem;
  border-radius: 0.5rem;
  color: #ffffff;
  border: 1px solid var(--4);
  cursor: pointer;
}

.hero .swiper .slide button:hover{
  background: black;
}

@media(max-width:550px){
  .hero .swiper{
    padding: 0;
  
    
  }

  .hero .swiper .slide h1{
    font-size: 2rem;
    color: black;
  }

  .hero .swiper .slide p{
    width: 300px;
    font-size: 1rem;
    color: black;
    padding-bottom: 2rem;
    font-weight: 600;
  }
  
  .service .service-row .col-1 p, h4{
    margin-left: 2em;
  }
}

@media (max-width:991px) {

    header .logo img{
      min-width: 200px;
    }
    header .search i{
      display: none;
    }

    header .navbar .navLinks li{
      padding: 1.7rem 1rem;
    }

    .hero .swiper .slide{
      background-color: #30536b93;
      padding: 20px;
      border-radius: 10px;
      display: block;
      width: 100%;
      max-width: 100%;
    }
}

@media(max-width:768px){

  #menuBtn{
    display: block;
    padding: 1rem;
  }

  header .navbar .navLinks{
    display: none;
  }

  header .navbar .navLinks.toggle{
    display: block;
    margin: auto;
  }

  header .search i{
    display: none;
  }


  .hero .swiper .slide{
    background-color: #30536b93;
    padding: 20px;
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 100%;
  }
  

  .hero .swiper .slide p{
    width: 100%;
  }

  header .navbar .navLinks li{
    padding: 1rem 1rem;
  }

  header .navbar .navLinks li:hover{
    background: transparent;
  }

  header .navbar .navLinks li a:hover{
    color: var(--1);
  }
}

.service{
  width: 100%;
  background: #ffffff;
}

.service .service-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 3rem;
  padding-top: 5.5rem;
}

.service-row .col-1 img{
  width: 370px;
  height: 470px;
  border: 1px solid var(--4);
}

.service-row .col-1 h4{
  font-size: 2rem;
  color: var(--2);
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.service-row .col-1 p{
  font-size: 1.4rem;
  color: black;
  padding-bottom: 1.5rem;
}

.service-row .col-1 a{
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--2);
  font-weight: 500;
}

@media(max-width:991px){
  .service .service-row {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  
}

@media(max-width:430px){
  .service .service-row {
    grid-template-columns: 1fr;
  }
}



.about h2{
  font-size: 2.7rem;
  color: var(--2);
}

.about p.text{
  font-size: 1.3rem;
  width: 650px;
  margin: auto;
  color: var(--4);
}

.about{
  text-align: center;
  padding-top: 4.5rem;
  border-top: 1px solid black;
}

.about p{
  font-size: 1.3rem;
  padding-bottom: 2.6rem;
}

.about .col-2 img{
    width: 70%;
    height: 50rem;
    margin-bottom: 4rem;
}

/* .about .col-2 .details span{  
  color: var(--4);
  font-size: 1.7rem;
}

.about .col-2 .details h4{
  font-size: 2.3rem;
  color: black;
  padding-bottom: 1.5rem;
}

.about .col-2 .details p{
  color: var(--4);
} */